body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}


.textointro{
font-family: 'Roboto', sans-serif;
font-family: 'Tilt Warp', cursive;
text-align: center;
font-size: 80px;
text-shadow: 4px 6px 5px rgba(0,0,0,0.6);
margin: auto;
margin-left: 70px;
margin-top: 50px;
width: 50%;
padding: 10px;
animation-name: introletrasup;
animation-duration: 5s;

}


.textointro2{
 
  text-align: center;
  font-size: 20px;
  margin: auto;
  margin-left: 70px;
  margin-top: 50px;
  width: 50%;
  padding: 10px;
  animation-name: introletrasup2;
  animation-duration: 2s;
  
  }

.imagenicon{
  width: 50px;
  height: 50px;
  float: left; 
  padding-right: 10px;
}

.imagenperson{
  width: 500px;
  height: 500px;
  float: center; 
  padding-right: 10px;
  animation-name: burbujaimg;
  animation-duration: 2s;
  place-items: center;

  
}

.imagenperson2{
  width: 500px;
  height:500px;
  
  border: 5px solid #ffffff;
  animation-name: burbujaimg2;
  animation-duration: 2s;
  place-items: center;
  box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
  
  
  
  
  
}

.textperson{
  
  animation-name: burbujaimg2;
  animation-duration: 2s;
  font-size: 30px;
  
}



.texticon{  
  
  color: #236CC4;
 
  }

.barramenu { 
width: 100%;
height: 40px;
margin-top: 0px;
animation-name: intromenu;
animation-duration: 1s;
color: white;
}


.ventanatexto{  

font-family: 'Roboto', sans-serif;
font-size: 33px;
letter-spacing: 2px;
word-spacing: 2px;
color: #236CC4;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}


.ventanatexto2{  

  font-family: 'Roboto', sans-serif;
  font-size: 33px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: white;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

.ventana2 { 
  box-shadow:inset rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  background-color: #0065fc;
opacity: 1;
background-image:  linear-gradient(135deg, #0d6efd 25%, transparent 25%), linear-gradient(225deg, #0d6efd 25%, transparent 25%), linear-gradient(45deg, #0d6efd 25%, transparent 25%), linear-gradient(315deg, #0d6efd 25%, #0065fc 25%);
background-position:  4px 0, 4px 0, 0 0, 0 0;
background-size: 4px 4px;
background-repeat: repeat;
  
  
  width: 100%;
  height: 750px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 0px;
  border-radius: 0px;
  color: white;



  }


  .ventana3 { 
    box-shadow:inset rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    background-color: #1c1c1c;
opacity: 1;
background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #1c1c1c 25%);
background-position:  4px 0, 4px 0, 0 0, 0 0;
background-size: 4px 4px;
background-repeat: repeat;
    
    
    width: 100%;
    height: 750px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    
    border-radius: 0px;
    color: white;
    }
  


.ventana { 
 
  box-shadow: 1px 1px 118px -52px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 1px 1px 118px -52px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 1px 1px 118px -52px rgba(0,0,0,0.75) inset;
  background-color: white;
  animation-name: estiramiento;
  animation-duration: 2s;
  animation-delay: 1s;
  width: 100%;
  height: 750px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 0px;
  
  }

  .ventana100 { 
 
   
    background-color: white;
    animation-name: estiramiento;
    animation-duration: 2s;
    animation-delay: 1s;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 0px;
    
    }

  
  .footer { 
    box-shadow: -2px 15px 29px -1px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: -2px 15px 29px -1px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: -2px 15px 29px -1px rgba(0,0,0,0.75) inset;
    
    background-color: #0065fc;
  opacity: 1;
  background-image:  linear-gradient(135deg, #0d6efd 25%, transparent 25%), linear-gradient(225deg, #0d6efd 25%, transparent 25%), linear-gradient(45deg, #0d6efd 25%, transparent 25%), linear-gradient(315deg, #0d6efd 25%, #0065fc 25%);
  background-position:  4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
    
    
    width: 100%;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 0px;
    border-radius: 0px;
    color: white;
  
  
  
    }


    .footer2 { 
      box-shadow:inset rgba(0, 0, 0, 0.24) 0px 3px 8px;
      
      background-color: #1c1c1c;
  opacity: 1;
  background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #1c1c1c 25%);
  background-position:  4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
      
      
      width: 100%;
      height: 200px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 50px;
      
      border-radius: 0px;
      color: white;
      }

ul {
  width: 100%;
  height: 50px;
  list-style-type: none;
  text-align: left;
  overflow: hidden;
  }

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 0px solid #336AB0;
  transition-property: border-bottom;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

#tablita{

}

/* cambia forma de boton menu */
li a:hover {
  border-bottom: 4px solid white;  
}

                                           /* INICIO ANIMACIONES*/

@keyframes introdifuminado {
  from {filter: blur(1.5rem);}
  to {filter: blur(0);}
}

@keyframes intromenu {
  0% { transform: translateY(-50px); opacity: 0%;}
  100% { transform: translateY(0px); opacity: 100%; }
}

@keyframes introletrasup {
  0% { transform: translateY(30px); opacity: 0%;}
  100% { transform: translateY(0px); opacity: 100%; }
}

@keyframes introletrasup2 {
  0% { transform: translateY(50px); opacity: 0%;}
  100% { transform: translateY(0px); opacity: 100%; }
}


@keyframes estiramientovertical {
  from {max-height: 0%;}
  to {max-height: 1000%;}
}

@keyframes estiramiento {
  from {width: 0%;}
  to {width: 100%;}
}

@keyframes burbujaimg {
  
  0% { transform: translateX(120px); opacity: 0%;}
  100% { transform: translateX(0px); opacity: 100%; }
}

@keyframes burbujaimg2 {
  
  0% { transform: translateX(-120px); opacity: 0%;}
  100% { transform: translateX(0px); opacity: 100%; }
}
                                                      /* FIN ANIMACIONES */

@media only screen and (max-width: 500px) {


  .imagenperson{
    width: 100px;
    height:100px;
    margin-bottom: 10px;

    
  }

  .imagenperson2{
    width: 100px;
    height:100px;
    margin-left: 25%;
    margin-right: 25%;
    
  }


#tablita{
  
  font-size: 10px;
}
.textperson{
  font-size: 12px;
}

.footer { 
  font-size: 12px;
}



}

@media only screen and (max-width: 300px) {
  #tablita{
    
    font-size: 5px;
  }
  .footer { 
    font-size: 5px;
  }


}

@media only screen and (max-width: 950px) {
  .textperson{
    font-size: 12px;
  }
 
  body {
    background-color: lightblue;
  }

  .ventana {
    height: auto; 
  }

  .ventana2 {
    height: auto; 
  }

  .ventana3 {
    height: auto; 
  }


  .imagenperson{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;

    
  }

  .imagenperson2{
    width: 300px;
    height:300px;
    
    
  }

  .textointro{
    text-align: center;
    font-size: 30px;
    margin: auto;
    width: 80%;
    padding: 10px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }

  .textointro2{
    text-align: center;
    font-size: 12px;
    margin: auto;
    
    margin-top: 10px;
    width: 80%;
    padding: 10px;
  }

}